.map {
	height: 100%;
	width: 100%;
	margin: 0;
    z-index: 0;
}


.menu {
    position: fixed;
    background-color: white;
    top: 2.0em;
    left: 2.0em;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    max-height: calc(100% - 4.0em);
    position: absolute;
        overflow: auto;
        display: none;
}

.menu .logo {
    padding: 10px;
    border-bottom: 1px solid #DDD;
}

.menu .logo img{
    width: 200px;
    margin: 0 40px;
}

.menu .menu-content .menu-item{
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.menu .menu-content .menu-item .menu-check{
    background-color: #DDD;
    width: 35px;
    height: 35px;
    border-radius: 20px;
}

.menu .menu-content .menu-item .menu-heat{
    width: 35px;
    height: 35px;
    border-radius: 20px;
    right: 10px;
    position: absolute;
}

.menu .menu-content .menu-item .menu-check:hover{
    cursor: pointer;
}

.menu .menu-content .menu-item .menu-check span{
    font-size: 25px;
    width: 100%;
    text-align: center;
    position: relative;
    top: 5px;
    color: #DF0C06;
}

.menu .menu-content .menu-item .menu-heat span{
    font-size: 25px;
    width: 100%;
    text-align: center;
    position: relative;
    top: 5px;
    color: #ffa6a3;
}

.menu .menu-content .menu-item .item-title{
    margin-left: 15px;
    font-weight: 600;
    color: #444;
    position: relative;
    top: -1px;
}

.menu .menu-content {
    overflow-y: auto;
    height: 100%;
}

.ol-zoom {
    text-align: right;
    right: .5em;
    top: 2.0em;
    max-width: calc(100% - 1.3em);
    left: initial;
}



.ui-widget.ui-widget-content {
    width: 100%;
    border: 1px solid #c5c5c5;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #DF0C06;
    background: #ffa6a3;
    font-weight: normal;
    color: #ffffff;
}

/* POP UP */

.ol-popup {
position: absolute;
background-color: white;
-webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
padding: 15px;
border-radius: 10px;
border: 1px solid #cccccc;
bottom: 12px;
left: -50px;
min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
top: 100%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
}
.ol-popup:after {
border-top-color: white;
border-width: 10px;
left: 48px;
margin-left: -10px;
}
.ol-popup:before {
border-top-color: #cccccc;
border-width: 11px;
left: 48px;
margin-left: -11px;
}
.ol-popup-closer {
text-decoration: none;
position: absolute;
top: 2px;
right: 8px;
}
.ol-popup-closer:after {
content: "✖";
}